@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --magenta: #ff218c;
  --yellow: #ffd800;
  --cyan: #21b1ff;
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
